extends layout.pug

//- show project specific attributes
block content
    nav.nav
        a(href='/')
            span &larr;
            |  Back
    article.portfolio-projects
        .inner-wrapper.flex-row-wrap.two-col
            .project-info-box.box
                h1 #{projectN.project_name}
                p #{projectN.description}
            .project-tech-links-box.box
                h6 Technologies
                ul
                    each technology in projectN.technologies
                        li #{technology}
                a.btn-link(href=`${projectN.live_link}` target='_blank') Live Demo
                a.btn-link(href=`${projectN.github_link}` target='_blank') GitHub Repo
        .project-img-box.box
            each pic in projectN.image_urls
                - regex = /.+main.+/;
                if !regex.test(pic)
                    img.project-img(src=`/static/${pic}`, alt='')
        nav.nav
            a(href='/')
                span &larr;
                |  Back